# Result Analysis
This notebook analyses the results of a single run of the model.

In [7]:
import warnings
from pathlib import Path

import pandas as pd
import quantstats

In [2]:
results_root = Path.cwd().parent / 'results'
experiment_name = 'experiment_quandl_100assets_tft_cpnone_len63_notime_div_v1'
window = '2016-2017'
window_root = results_root / experiment_name / window
file_name = 'captured_returns_sw.csv'
res_df = pd.read_csv(window_root / file_name, index_col=[0], parse_dates=['time'])
res_df.head()

,identifier,time,returns,position,captured_returns,daily_vol,captured_returns_0_5_bps,captured_returns_1_0_bps,captured_returns_1_5_bps,captured_returns_2_0_bps,captured_returns_2_5_bps,captured_returns_3_0_bps
0,ICE_SB,2016-01-04,-0.012860,-0.531843,0.006839,0.019634,0.006839,0.006839,0.006839,0.006839,0.006839,0.006839
1,ICE_SB,2016-01-05,-0.004873,-0.568201,0.002769,0.019964,0.002768,0.002767,0.002767,0.002766,0.002766,0.002765
2,ICE_SB,2016-01-06,0.010960,-0.148439,-0.001627,0.019730,-0.001637,-0.001647,-0.001657,-0.001666,-0.001676,-0.001686
3,ICE_SB,2016-01-07,-0.009370,0.453643,-0.004251,0.019826,-0.004265,-0.004280,-0.004294,-0.004308,-0.004323,-0.004337
4,ICE_SB,2016-01-08,-0.010207,-0.475846,0.004857,0.019847,0.004835,0.004812,0.004790,0.004768,0.004746,0.004724

In [3]:
daily_return_df = res_df[['time', 'captured_returns']].groupby('time').sum()
daily_return_df.head()

            captured_returns
time
2016-01-04          0.001711
2016-01-05         -0.071287
2016-01-06         -0.086406
2016-01-07         -0.005673
2016-01-08         -0.059142

In [8]:
output_path = window_root / 'report.html'
with warnings.catch_warnings():
    warnings.simplefilter("ignore", FutureWarning)
    quantstats.reports.html(
        returns=daily_return_df['captured_returns'],
        benchmark='SPY',
        periods_per_year=252,
        output=output_path
    )

[*********************100%%**********************]  1 of 1 completed